*{
    font-family: 'Noto Sans', sans-serif;
}
body {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
button{
    background: transparent;
    border: 0;
    order: 0;
    cursor: pointer;
    outline: none;
    color: #B2AEAF;
    font-size: 25px;
    padding: 0 10px;
}
i:hover, i:focus{
    color: white;
}
h1{
    width: 80%;
    margin: 30px 0 15px 0;
    font-size: 33px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
h3{
    margin: 0;
}
.a11y-hidden {
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    width: 1px;
    height: 1px;
    position: absolute;
    margin: -1px;
}
.play-slider{
    width: 62%;
}
.container {
    display: block;
    margin: auto;
    color: #ddd;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    width: 400px;
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    transition: all 0.5s ease-in-out;
}
.player {
    border-radius: 10px;
    padding: 30px;
    background: #333;
}
.cover{
    background-color: white;
    display: block;
    border-radius: 5px;
    box-shadow: -1px 0px 10px rgba(0,0,0,0.5),0px 0px 10px rgba(0,0,0,0.5),0px -1px 10px rgba(0,0,0,0.5),-1px -1px 10px rgba(0,0,0,0.5);
    width: 100%;
    height: 340px;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.play-time{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.player-title{
    position: relative;
    margin-bottom: 30px;
}
.music-control {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 0 30px 0;
}
#play-list{
    position: absolute;
    right: 0;
    top: 5px;
}
#play {
    font-size: 40px;
}
.music-control-2 {
    display: flex;
    margin: 0 0 30px 20px;
    justify-content: space-around;
}
#volume-slider{
    display: inline-block;
    cursor: pointer;
    width: 70px;
    transform: translateY(-6px);
}
#volume{
    font-size: 25px;
}
#repeat
{
    font-size: 25px;
}
.play-list{
    padding: 10px 20px 10px 0;
    top: 0px;
    background: #444;
    position: absolute;
    right: 0;
    margin: 0;
    transition: all 0.5s ease-in-out;
    border-radius: 0 10px 10px 0;
    z-index: -1;
}
.list-active{
    transform: translateX(98%);
}
.list-item{
    color : #B2AEAF;
    padding: 10px 0;
    cursor: pointer;
}
.list-item:hover, .list-item:focus{
    color: white;
}
input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 7px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input{
    cursor: pointer;
    background: transparent;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
.active{
    color: rgb(14,172,193);
}