body {
  text-align: center;
}

div {
  margin-right: 20px;
  line-height: 50px;
  width: 350px;
  height: 50px;
  border-radius: 5px;
  float: left;
  position: relative;
}

.side {
  position: relative;
  border: 2px solid skyblue;
  overflow: hidden;
}

.side::after {
  content: "";
  top: 0;
  opacity: 0.5;
  background: yellow;
  position: absolute;
  left: -350px;
  width: 100%;
  height: 100%;
  transition: left 1s;
}

.side:hover::after {
  left: 0;
}

.underline {
  position: relative;
}

.underline::after {
  content: "";
  height: 100%;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 0;
  border-bottom: 1px solid skyblue;
  transition: left 1s, right 1s;
}

.underline:hover::after {
  left: 0;
  right: 0;
}

.create{
  position: relative;
}
.create::after{
  content: "";
  height: 100%;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 0;
  bottom: 0;
  border-bottom: 1px solid skyblue;
  border-top: 1px solid skyblue;
  transition: left 1s, right 1s;
}
.create::before{
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 50%;
  border-right: 1px solid skyblue;
  border-left: 1px solid skyblue;
  transition: top 1s, bottom 1s;
}
.create:hover::after{
  left: 0;
  right: 0;
}
.create:hover::before{
  top: 0;
  bottom: 0;
}