<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Login
    link(rel="stylesheet", href="css/main.css")
  script(src="../node_modules/jquery/dist/jquery.min.js")
  script(src="js/main.js")
  body
    form(action="" class="login_form" name="login" method="post")
      label(for="id")
      input(id="id" placeholder="아이디" type="name")
      label(for="password")
      input(id="password" placeholder="비밀번호" type="password")
      label(for="submit")
      input(id="isubmit" type="submit" value="로그인")